{% extends 'snnotifications/email_templates/base.html' %}

{% block content %}
{{ notification.related_object.content|safe}}

{% if notification.related_object.file_uploads.exists %}
<hr/>
<p>File attachments:</p>
<ul>
  {% for fu in notification.related_object.file_uploads.all %}
  <li><a href="{{ SITE_URL }}{{ fu.url }}">{{ fu.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}


{% endblock %}


{% block CTA %}
<a href="{{SITE_URL}}" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">Open {{ SITE_NAME }} ></a>
{% endblock %}
