{% extends 'snnotifications/email_templates/base.html' %}

{% block content %}
{% with notification.related_object as student %}
<p>A new UMS student account was created for {{ student.invitation_name }}. You can now find {{ student.user.first_name }} on your student list in UMS.</p>
{% if student.counseling_student_types_list %}
<p>{{ student.user.first_name }} has the following counseling products:</p>
<ul>
  {% for item in student.counseling_student_types_list %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block CTA %}

{% endblock %}
