{% extends 'snnotifications/email_templates/base.html' %}

{% block content %}
{% with notification.related_object as file_upload %}
A file - {{ file_upload.title }} - has been uploaded for your student {{ file_upload.counseling_student }}
in {{ SITE_NAME }}.
{% endwith %}
{% endblock %}


{% block CTA %}
<div style="text-align: center">
  <a href="{{SITE_URL}}{{ notification.related_object.url }}" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">
    Open File
  </a>
</div>
{% endblock %}
