{% extends 'snnotifications/email_templates/base.html' %}
{% load tz %}

{% block content %}
{% with notification.related_object as meeting %}
{% timezone notification.recipient.user.counselor.timezone %}
{% localtime on %}

<p>
    This is a reminder that you have a meeting ({{meeting.title}}) on {{ meeting.start|date:"F jS" }} at
    {{ meeting.start|date:"g:ia" }}.
</p>

{% if counselor_meeting.location and not counselor_meeting.location.is_remote %}
<p>
  This meeting will take place at {{ counselor_meeting.location.name }}:<br/>
  {{ counselor_meeting.location.address}} {{ counselor_meeting.location.address_line_two }}<br/>
  {{ counselor_meeting.location.city }} {{ counselor_meeting.location.zip_code }}
</p>
{% elif counselor_meeting.student.counselor.zoom_url %}
<p>This meeting will take place on Zoom: {{ counselor_meeting.student.counselor.zoom_url }}
{% endif %}


{% endlocaltime %}
{% endtimezone %}
{% endwith %}
{% endblock %}
