{% extends 'snnotifications/email_templates/base.html' %}
{% load tz %}



{% block content %}
{% timezone notification.secondary_related_object.timezone %}
{% localtime on %}
{% with notification.related_object as course %}
<p>You have been unenrolled from the Schoolnet {{ course.name }} course.</p>
<p>You can find more details about this course in the <a href="{{ SITE_URL }}">{{SITE_NAME}}</a></p>
{% endwith %}

{% endlocaltime %}
{% endtimezone %}
{% endblock %}

{% block CTA %}
{% endblock %}