{% extends 'snnotifications/email_templates/base.html' %} {% block content %}

{% if cas_student %}
Welcome, officially, to Collegewise. As an Academic Services family, you will have access to UMS, our in-house
platform. UMS allows you to:
<ul>
  <li>View all student sessions and notes at any time</li>
  <li>Book tutoring appointments directly on your tutors’ calendar</li>
  <li>Register for upcoming summer classes in a few quick clicks</li>
  <li>Receive alerts and reminders for appointments and tasks</li>
</ul>
{% else %}
<p>You have been invited to create an account on {{ SITE_NAME }}</p>
{% endif %}

<p>Click the link below to create your account:</p> {% endblock %} {% block CTA %}
<a
  href="{{SITE_URL}}{{ url }}"
  target="_blank"
  style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;"
  >Register >
</a>

{% endblock %} {% block login-reminder %}
<strong
  >Once your account is set up you can access your UMS account through:
  schoolnet.collegewise.com. We recommend you bookmark the page for convenience.</strong
>
{% endblock %}
