{% extends 'snnotifications/email_templates/base.html' %}

{% block content %}
{% with notification.related_object as task %}
<p>A diagnostic ({{ task.diagnostic.title }}) has been shared with you. You can access this diagnostic via the link below and in your UMS account.</p>
{% if task.due %}
<p>Please complete this diagnostic by {{ task.due|date:"F jS" }}</p>
{% endif %}
<p>
    When you have completed the diagnostic, save your work and submit it in the
    <a href="{{ SITE_URL }}?action=submit_task&action_payload={{task.slug}}">{{SITE_NAME}}</a>
</p>
<p>
    Please find instructions for self-proctoring and submitting your diagnostic here:
    <a href="https://cw-os-static.s3-us-west-2.amazonaws.com/Directions+for+Self-Proctoring.pdf">Instructions for self-proctoring</a>
</p>
{% endwith %}
{% endblock %}

{% block CTA %}
{% with notification.related_object.diagnostic as diagnostic %}
    {% for resource in diagnostic.resources.all %}
    <p>
        <a href="{{SITE_URL}}{{ resource.url }}" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">
            Download {{ resource.title }} >
        </a>
    </p>
    {% endfor %}
    <p>
        <a href="https://cw-os-static.s3-us-west-2.amazonaws.com/Directions+for+Self-Proctoring.pdf" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">
            Download Instructions >
        </a>
    </p>
{% endwith %}
{% endblock %}
