{% extends 'snnotifications/email_templates/base.html' %}
<!-- Note that we also have cw_user in context -->
{% block content %}
{% with notification.related_object as cp %}
{% with notification.additional_args as messages %}
You have new unread messages in your UMS conversation with {{ cp.conversation_with_name }}:
{% for message in messages %}
<p style="margin: 20px;">
{{ message }}
</p>
{% endfor %}

<p style="margin-top: 20px; padding-top: 20px; border-top: solid 4px #293a68; text-align: center; font-weight: bold;">
  Please do not respond to this email. You can response by sending a message in UMS.
</p>


{% endwith %}
{% endwith %}
{% endblock %}

{% block CTA %}
<div style="text-align: center">
  <a href="{{ url }}" target="_blank" style="color: #ffffff; background-color: #3498db; border: solid 1px #3498db; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">Open UMS to view this conversation ></a>
</div>
{% endblock %}
