{% extends 'cwnotifications/email_templates/base.html' %}

{% block content %}
Reminder: You have been invited to create an account on {{ SITE_NAME }}. Click the link
below to create your account:
{% endblock %}

{% block CTA %}
<a href="{{SITE_URL}}{{ url }}" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">Register ></a>
{% endblock %}
