{% extends 'cwnotifications/email_templates/base.html' %}
{% load tz %}

{% block content %}
{% with notification.related_object as session %}
{% timezone session.student.timezone %}
{% localtime on %}

<p>
  Student {{ session.student.invitation_name }} registered to take our {{ session.group_tutoring_session.title }} on {{ session.start|date:"F jS" }} from {{ session.start|date:"g:ia" }} to {{ session.end|date:"g:ia" }}.
</p>
{% if session.student.parent %}
<p> Their parent is {{ session.student.parent.invitation_name }} ({{ session.student.parent.invitation_email}}).</p>
{% endif %}

{% endlocaltime %}
{% endtimezone %}
{% endwith %}
{% endblock %}

{% block CTA %}
{% endblock %}