{% extends 'cwnotifications/email_templates/base.html' %}

{% block content %}
{% with notification.related_object as purchase %}
<p>
  Woot! We're confirming your enrollment in a new tutoring package with Collegewise.
</p>
{% if purchase.tutoring_package.is_paygo_package %}
<p>
  You can view your hours in UMS.
</p>
{% else %}
<p>
  This package includes {{ purchase.tutoring_package.group_hours }} group tutoring hours, and
  {{ purchase.tutoring_package.individual_test_prep_hours }} individual hours.
</p>
{% endif %}
{% if purchase.tutoring_package.group_tutoring_sessions.exists %}
<p>
  You were registered for {{ purchase.tutoring_package.group_tutoring_sessions.count }} group tutoring sessions.
  You can find the sessions' dates, times, and other details in {{ SITE_NAME }}.
</p>
{% endif %}
{% endwith %}
{% endblock %}

{% block CTA %}
<a href="{{SITE_URL}}" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">
  Take me to the {{ SITE_NAME }} >
</a>
{% endblock %}
