{% extends 'cwnotifications/email_templates/base.html' %}
{% load tz %}

{% block content %}
{% with notification.related_object as meeting %}
{% timezone meeting.student.timezone %}
{% localtime on %}

<p>This is a reminder that you have a counselor meeting on {{ meeting.start|date:"F jS" }} at
    {{ meeting.start|date:"g:ia" }}.</p>

{% if counselor_meeting.location and not counselor_meeting.location.is_remote %}
<p>
  This meeting will take place at {{ counselor_meeting.location.name }}:<br/>
  {{ counselor_meeting.location.address}} {{ counselor_meeting.location.address_line_two }}<br/>
  {{ counselor_meeting.location.city }} {{ counselor_meeting.location.zip_code }}
</p>
{% elif counselor_meeting.student.counselor.zoom_url %}
<p>This meeting will take place on Zoom: {{ counselor_meeting.student.counselor.zoom_url }}
{% endif %}



<p>Need to send us a message about this meeting? You can do so on <a href="{{ SITE_URL }}">{{ SITE_NAME }}</a></p>

<p>As always, if you have questions, please do not hesitate to reach out.</p>


{% endlocaltime %}
{% endtimezone %}
{% endwith %}
{% endblock %}

{% block CTA %}
{% endblock %}
