{% extends 'cwnotifications/email_templates/base.html' %}

{% block content %}
{% with notification.related_object as task %}
<p>{{ task.for_user.get_full_name }}'s task "{{ task.title }}" has been completed.</p>
{% if task.file_uploads.exists %}
<p>The completed task had the following files submitted:</p>
<ul>
    {% for file_upload in task.file_uploads.all %}
    <li><a href="{{SITE_URL}}{{ file_upload.url }}">{{ file_upload.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if task.content_submission %}
<p>The completed task had the following content submitted:</p>
<p>{{ task.content_submission }}</p>
{% endif %}
{% endwith %}
{% endblock %}