{% extends 'cwnotifications/email_templates/base.html' %}

{% block content %}
{% with notification.related_object as time_card %}
<p>
  A new time card has been created in UMS that requires your approval. This time card covers the pay period from
  {{ time_card.start|date }} to {{ time_card.end|date }}. This time card includes {{time_card.total_hours }} total hours.
</p>
<p>
  You can view and approve this time card in <a href="{{ SITE_URL }}">{{ SITE_NAME }}</a>
</p>
{% endwith %}
{% endblock %}

{% block CTA %}
{% endblock %}